body {
    font-family: 'Trajan Pro', serif; /* Monospace font for a coding feel */
    margin: 0;
    padding: 0;
    background-color: #1e1e1e; /* Dark grey for dark mode */
}

h1, h2, h3 {
    font-family: 'Trajan Pro', serif; /* Trajan Pro is a font inspired by Roman inscriptions */
    color: #ffdd00; /* Gold, reminiscent of Ancient Rome */
}

h1 {
    padding: 20px 0;
    background-color: #5D4E40; /* Dark brown */
    text-align: center;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

h2 {
    background-color: #5D4E40; /* Dark brown */
    padding: 10px;
    margin-top: 20px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

h3 {
    background-color: #5D4E40; /* Dark brown */
    font-size: 1.5em;
    padding: 10px;
    margin-top: 20px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

p, ul {
    line-height: 1.6;
    padding: 10px;
    color: #F5DEB3; /* Wheat color for text */
}


ul {
    list-style: none;
    padding-left: 20px;
}

ul li {
    background: #bf6320; /* Dark brown */
    margin: 5px;
    padding: 10px 20px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

ul li:nth-child(odd) {
    background: #ae581b; /* Saddle brown */
}

.container {
    width: 60%;
    margin: 0 auto;
}

.section {
    background-color: #5D4E40; /* Dark brown */
    margin: 5px;
    padding: 10px 20px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.section-title {
    font-weight: bold;
    color: #8B4513; /* Gold */
}

.section-content {
    margin-top: 10px;
    color: #F5DEB3; /* Wheat color for text */
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #5D4E40; /* Dark brown */
    position: fixed;
    height: 100%;
    overflow: auto;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
}

.navbar li a {
    display: block;
    color: #F5DEB3; /* Wheat color for text */
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar li a.active {
    background-color: #8B4513; /* Saddle brown */
    color: #FFD700; /* Gold */
}

.navbar li a:hover:not(.active) {
    background-color: #8B4513; /* Saddle brown */
    color: #FFD700; /* Gold */
}

.main {
    margin-left: 20%;
    padding: 0px 10px;
}

@media (max-width: 900px) {
    .navbar, .main {
        width: 100%;
        height: auto;
    }
}

/* Style the scrollbar */
::-webkit-scrollbar {
    width: 8px; /* Make the scrollbar smaller */
}

::-webkit-scrollbar-track {
    background: #5D4E40; /* Dark brown */
}

::-webkit-scrollbar-thumb {
    background: #8B4513; /* Saddle brown */
}

::-webkit-scrollbar-thumb:hover {
    background: #8B4513; /* Saddle brown */
}

#currTime {
    color: #e1ceac; /* Wheat color for text */
    font-size: 1.5em;
    text-align: center;
    /* make draw over the top and fixed*/
    position: sticky;
    z-index: 100;
    top: 0;
    margin: 0 auto;
    background-color: #5D4E40; /* Dark brown */
    padding: 10px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}